
#monForm {
       position:absolute;
    top:150%;
    left:50%;
    right:50%;

    width:1000px; /* A toi de donner la bonne largeur */
    height:1000px; /* A toi de donner la bonne hauteur */
    margin-left:-550px; /* -largeur/2 */
    margin-top:-125px; /* -hauteur/2 */
  
 }
 h1 {
    color:rgba(139, 10, 10, 0.767) !important;
    font-family: Andale Mono, monospace;    font-size:80px  ;

    }
    div {
      font-size:20px  ;
      font-family: Andale Mono, monospace;
    }
    button{
       background-color: rgba(139, 10, 10, 0.767);
       margin-top: 50px;
      font-size:40px  ;
color: white;
    }
    input {
      font-family: Andale Mono, monospace;      font-size:20px  ;

   
      }
      select {
         font-size:20px  ;

      }
      
      label{
      color : black; 
       ;
      }
      a {
         text-decoration: none;
         color :white;
         font-size:100px  ;
         margin-right: 9px;
      }