<form id="monForm">
    <section id="client">
    <h1>CLIENT ENTITY</h1>
    <div class="form-row">
     <label for="inputClient">Client</label>
     <input required type="text" class="form-control" id="inputClient" placeholder="xxxx">
     
    </div>
    <div class="form-group">
      <label for="inputSecAccount">Client Sec Account</label>
      <input required type="text" class="form-control" id="inputSecAccount" placeholder="12345SEC">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCashAccount">Client Cash Account</label>
        <input type="text" class="form-control" id="inputCashAccount" placeholder="12345CASH">
      </div>
      <div class="form-group col-md-4">
        <label for="inputcurrency">Currency</label>
        <select id="inputCurrency" class="form-control">
          <option selected>Choose...</option>
          <option>$</option>
          <option>€</option>
        </select>   </div>
        <div class="form-row">
        <button  > <i class="fa fa-paper-plane" aria-hidden="true">
          Confirm </i> </button>  
        </div>    
      
    </div>
    
</section>
  </form>










