<form id="monForm2">
    <section id="details" class="page-section">
  
      <h1>ASSET DETAILS</h1>
      <div class="form-row">
          <label for="inputISIN">Isin</label>
          <input required type="number" class="form-control" id="inputISIN" placeholder="123456">
      </div>
      <div class="form-group">
        <label for="inputInstrument">Instrument</label>
        <input  required type="text" class="form-control" id="inputInstrument" >
      </div>
      <div class="form-group">
        <label for="inputQuantity">Quantity Type </label>
        <input required type="text" class="form-control" id="inputQuantity" >
      </div>
      <div class="form-group">
          <label for="inputPlace">Place of Settelment</label>
          <input required type="text" class="form-control" id="inputPlace" >
        </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputSec">Nostro Sec Account</label>
          <input  required type="text" class="form-control" id="inputSec">
        </div>
        <div class="form-group col-md-6">
          <label for="inputCash">Nostro Cash Account</label>
          <input required required type="text" class="form-control" id="inputCash">
        </div>
        
      </div>
      <button  > <i class="fa fa-paper-plane" aria-hidden="true">
        Confirm</i> </button>  
      
    </section>
    </form>