<form id="monForm3">
    <section id="transaction">
      <h1>TRANSACTION TYPE DETAILS</h1>
      <div class="form-row align-items-center">
        <div class="col-auto my-8">
          <label class="mr-sm-6" for="tranType">Transaction Type</label>
          <select class="custom-select mr-sm-6" id="tranType">
            <option selected>Choose...</option>
            <option value="1">dvp </option>
            <option value="2">RVP </option>
            
          </select>
        </div>
        
       
      </div>
      <div class="form-row align-items-center">
          <div class="col-auto my-6">
            <label class="mr-sm-2" for="tranType">Settelment Mode</label>
            <select class="custom-select mr-sm-2" id="tranType">
              <option selected>Choose...</option>
              <option value="1">delivery versus payment</option>
              <option value="2">Receive Versus Payment</option>
              
            </select>
          </div>
          
         
        </div>
     
         <div class="form-row">
          <div class="form-group col-md-6">
              <label for="inputSetNature">settelment Nature</label>
              <input required type="text" class="form-control" id="inputSetNature">
          </div>
          <div class="form-group col-md-6">
            <label for="inputContactType">Contact Type</label>
            <input required required type="text" class="form-control" id="inputContactType">
          </div>
  
         </div>
         <div><button  > <i class="fa fa-paper-plane" aria-hidden="true">
          Confirm</i> </button>      </div>

      </section>
      
    </form>